body {
    background-color: #333;
}

.message_box {
    display: flex;
    justify-content: center;
}

.warn_message {
    border-radius: 15px;
    width: 500px;
    background-color: #c3c318;
    padding: 15px;
}

.succes_message {
    border-radius: 15px;
    width: 500px;
    background-color: lightgreen;
    color: black;
    padding: 15px;
}

header {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 45px;
    background-color: #344;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.navbar a:hover {
    background-color: #345;
}

.navbar .actif {
    background-color: #345;
}

.page {
    display: flex;
    justify-content: center;
}

form {
    background-color: #345;
    padding: 20px;
    font-size: 30px;
    width: 650px;
    border-radius: 60px;
    text-align: center;
    color: white;
}

input[type=text] {
    font-size: 25px;
    border-radius: 20px;
    border: 7px solid #344;
}

input[type=password] {
    font-size: 25px;
    border-radius: 20px;
    border: 7px solid #344;
}

input[type=submit] {
    color: white;
    font-size: 25px;
    border-radius: 20px;
    border: 7px solid #344;
    background-color: #344;
}

input[type=submit]:hover {
    border: 7px solid #293d3d;
    background-color: #293d3d;
    box-shadow: 5px 5px 5px black;
}

.button {
    display: flex;
    justify-content: center;
}

.button a {
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: #293d3d;
    border-radius: 20px;
}

.button p {
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: #293d3d;
    border-radius: 20px;
}

.pub {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.pub button {
    width: 100px;
    height: 100px;
    font-size: 60px;
    color: white;
    background: #5865F2;
    border: 0px solid #5865F2;
    border-radius: 60px
}

.pub form {
    background: transparent;
}



.pub input[type=submit] {
    color: white;
    font-size: 25px;
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
}

.pub input[type=submit]:hover {
    border: 0px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
}

textarea {
    background: transparent;
    color: white;
}

@media screen and (max-width: 450px) {
    .navbar {
        display: grid;
        justify-content: center;
        padding: 20px;
    }

    form h1 {
        font-size: 35px;
    }

    input[type=text] {
        font-size: 15px;
        border-radius: 20px;
        border: 7px solid #344;
    }
    
    input[type=password] {
        font-size: 15px;
        border-radius: 20px;
        border: 7px solid #344;
    }

    input[type=submit] {
        font-size: 15px;
        border-radius: 20px;
        border: 7px solid #344;
    }

    .warn_message {
        border-radius: 15px;
        width: 300px;
        background-color: #c3c318;
        padding: 15px;
    }
    
    .succes_message {
        border-radius: 15px;
        width: 300px;
        background-color: lightgreen;
        color: black;
        padding: 15px;
    }
}