body {
    background-color: #333;
}

.message_box {
    display: flex;
    justify-content: center;
}

.warn_message {
    border-radius: 15px;
    width: 500px;
    background-color: yellow;
    padding: 15px;
}

header {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 45px;
    background-color: #344;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.navbar a:hover {
    background-color: #345
}

@media screen and (max-width: 450px) {
    .navbar {
        display: grid;
        justify-content: center;
        padding: 20px;
    }
}